.user-panel {
    /* margin-top: 100px; */
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed';
}
#modal {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px -2px 30px 30px rgb(0 0 0 / 30%);
}
.modal-ku {
    width: 1050px;
}

img {
    width: 100px;
    height: 100px;
}

.sidenav {
    width: 300px;
}

.info, .heading {
    display: flex;
    padding: 5px;
    align-items: center;
    flex-direction: column;
}

.rest {
    padding: 15px;
}

.list-group-item:hover, .list-group-item.active {
    color: black;
    background-color: rgb(108, 223, 225);
}
